<link rel='stylesheet' href='/stylesheets/index.css' />

    <div class="banner" >
      <h1>欢迎来到微博系统</h1>
      <p>这是一个基于Node.js的微博系统</p>
      <p>
        <a class="btn btn-primary btn-large" href="/login">登录</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
      </p>
    </div>

    <div class="container">
      <div class="row show-grid">
        <div class="col-md-4">
          <h2>Aidan</h2>
          <p>blablabla</p>
        </div>
        <div class="col-md-4">
          <h2>Ray</h2>
          <p>blablabla</p>
        </div>
        <div class="col-md-4">
          <h2>Gerald</h2>
          <p>blablabla</p>
        </div>
      </div>
    </div>


